@()(implicit r: Request[_])
<!DOCTYPE html>
<html>
<head>
    <title>Real Time Stock Quotes Home</title>
    <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
</head>
<body>
    <h1>Real Time Stock Quotes</h1>
    <form action="@routes.HomeController.searchStock()" method="get">
        <input name="searchText" type="text"/>
        <button>Search</button>
    </form>
</body>
</html>

